*_compressed*.js
*_uncompressed*.js
/msg/*
/core/css.js
/tests/blocks/*
/tests/compile/*
/tests/jsunit/*
/tests/workspace_svg/*
/tests/blocks/*
/tests/generators/*
/tests/workspace_svg/*
/generators/*
/demos/*
/accessible/*
/appengine/*
/shim/*
/dist/*
/gh-pages/*
/webpack.config.js
/externs/svg-externs.js