# OSX
.DS_Store

# NPM
/node_modules
npm-*

# Localization / I18N
common.pyc
.settings
.project
*.pyc
*.komodoproject
/nbproject/private/
/compile/

tests/compile/main_compressed.js
tests/compile/*compiler*.jar

/accessible/*
/demos/*
/dist
/msg/json/synonyms.json
/msg/json/qqq.json
/gh-pages/playgrounds
/gh-pages/Gemfile.lock
/gh-pages/closure-library
/gh-pages/_site

/chromedriver
tests/compile/main_compressed.js
tests/compile/*compiler*.jar
local_build/*compiler*.jar
local_build/local_blockly_compressed.js
