language: node_js
os: linux
dist: trusty
node_js:
- "8"
sudo: required
addons:
  chrome: stable
  apt:
    packages:
    - libgconf-2-4
cache:
  directories:
  - node_modules

before_install:
# Symlink closure library
- ln -s $(npm root)/google-closure-library ../closure-library

before_script:
  - export DISPLAY=:99.0
  - tests/scripts/setup_linux_env.sh
  - sleep 2

script:
  - set -x
  - npm test
  - cd tests/compile; compile.sh; cd ../..

before_deploy:
  - npm i -g

deploy:
  provider: npm
  email: kindscript@microsoft.com
  api_key: $NPM_TOKEN
  skip_cleanup: true
  on:
    tags: true
    branch: develop